body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.choices {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

button {
    padding: 5px 10px ;
    font-size: 20px;
}

.scores {
    font-size: 15px;
}